@import 'tailwindcss';

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.tff') format('tff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: Helvetica, sans-serif;
}

:root {
  --background: #bbbbbb;
  --foreground: #111;
  --card: #b4b3b3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
}

@layer base {
  * {
    @apply scroll-smooth;
  }
  html {
    @apply lg:w-[50%] lg:mx-auto py-5 px-4 lg:p-10;
  }
  body {
    @apply bg-background text-[17px] text-foreground;
  }
  a {
    @apply p-[2px] hover:opacity-70 duration-200;
  }
}
