---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Gopinho - Portfolio'>
  <main class='flex flex-col gap-6 max-sm:py-10 py-20'>
    <h2 class='font-medium text-4xl'>hey, i'm gopinho 👋</h2>
    <div class='grid gap-2'>
      <p>
        I'm a <span class='font-semibold'>smart contracts</span> and <span
          class='font-semibold'>full-stack developer</span
        >.
      </p>
      <p>
        Currently, I am expanding my expertise in EVM and practicing writing
        secure and robust smart contracts.
      </p>
    </div>
    <p>
      Contact me on <a
        href='https://twitter.com/gopiinho'
        target='_blank'
        rel='noopener'><span class='underline'>twitter</span></a
      >, <a href='https://github.com/gopiinho' target='_blank' rel='noopener'
        ><span class='underline'>github</span>,
        <a
          href='https://www.youtube.com/@gopiinho'
          target='_blank'
          rel='noopener'><span class='underline'>youtube</span></a
        ></a
      >, <a
        href='https://www.linkedin.com/in/gopinho/'
        target='_blank'
        rel='noopener'><span class='underline'>linkedIn</span></a
      > or via <a
        href='mailto:gopinho@protonmail.com'
        target='_blank'
        rel='noopener'><span class='underline'>email</span></a
      >.
    </p>
  </main>
</Layout>
