---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Gopinho - Portfolio'>
  <main class='flex flex-col gap-6 py-20 px-2'>
    <h5 class='text-semibold text-2xl'>hey, i'm gurpreet</h5>
    <p>
      I'm a blockchain developer and security researcher with a strong passion
      for continuous learning. Currently, I am expanding my expertise in
      Ethereum and focusing on writing secure and robust smart contracts.
      Additionally, I contribute to Ender Labs as a frontend and dApp developer.
    </p>
    <p>
      Contact me on <a
        href='https://twitter.com/gopiinho'
        target='_blank'
        rel='noopener'><span class='underline'>twitter</span></a
      >, <a href='https://github.com/gopiinho' target='_blank' rel='noopener'
        ><span class='underline'>github</span></a
      >, <a
        href='https://www.linkedin.com/in/gopinho/'
        target='_blank'
        rel='noopener'><span class='underline'>linkedIn</span></a
      > or via <a
        href='mailto:gopinho@protonmail.com'
        target='_blank'
        rel='noopener'><span class='underline'>email</span></a
      >.
    </p>
  </main>
</Layout>
