---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Gopinho - Portfolio'>
  <main class='flex flex-col gap-6 py-20 px-2'>
    <h5 class='font-medium text-2xl'>hey, i'm gopinho</h5>
    <p>
      I'm a blockchain developer and security researcher with hunger for
      continuous learning. Currently, I am expanding my expertise in Ethereum
      and focusing on writing secure and robust smart contracts.
    </p>
    <p>Writing permissionless code and interteractive UIs.</p>
    <p>
      Contact me on <a
        href='https://twitter.com/gopiinho'
        target='_blank'
        rel='noopener'><span class='underline'>twitter</span></a
      >, <a href='https://github.com/gopiinho' target='_blank' rel='noopener'
        ><span class='underline'>github</span>,
        <a
          href='https://www.youtube.com/@gopiinho'
          target='_blank'
          rel='noopener'><span class='underline'>youtube</span></a
        ></a
      >, <a
        href='https://www.linkedin.com/in/gopinho/'
        target='_blank'
        rel='noopener'><span class='underline'>linkedIn</span></a
      > or via <a
        href='mailto:gopinho@protonmail.com'
        target='_blank'
        rel='noopener'><span class='underline'>email</span></a
      >.
    </p>
  </main>
</Layout>
