<nav class='flex items-center gap-5'>
  <a href='/' class='px-2 py-1'>home</a>
  <a href='/' class='px-2 py-1'>work</a>
  <a href='/art' class='px-2 py-1'>art</a>
  <a href='/' class='px-2 py-1'>light</a>
</nav>
