---
import { Image } from 'astro:assets'

interface Props {
  logo: ImageMetadata
  name: string
}

const { logo, name }: Props = Astro.props
---

<span class='flex gap-3 items-center py-3 px-4 bg-card rounded-md'>
  <Image class='w-4 sm:w-6 grayscale' src={logo} alt=`${name} logo` />
  {name}
</span>
