---
import { Image } from 'astro:assets'

interface Props {
  logo: ImageMetadata
  name: string
}

const { logo, name }: Props = Astro.props
---

<span
  class='flex gap-3 rounded-lg items-center py-3 px-4 border-[0.5px] border-black/10 bg-card'
>
  <Image class='w-4 sm:w-6' src={logo} alt=`${name} logo` />
  {name}
</span>
