---
import Navbar from '../components/Navbar.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html
  lang='en'
  class='lg:w-[50%] bg-[#adadad] text-black lg:mx-auto p-5 lg:p-10'
>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <Navbar />
  <body>
    <slot />
  </body>

  <style is:global>
    @font-face {
      font-family: 'Helvetica';
      src: url('/fonts/Helvetica.tff') format('tff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    html {
      font-family: Helvetica, sans-serif;
    }

    a {
      padding: 2px;
    }
    a:hover {
      opacity: 0.7;
      transition-duration: 200ms;
    }
  </style>


</html>
